@using System
@using Sitecore.XA.Foundation.MarkupDecorator.Extensions
@using Sitecore.XA.Foundation.SitecoreExtensions.Extensions

@model Westco.XA.Feature.Maps.Models.StaticMapRenderingModel

@if (Model.DataSourceItem == null)
{
    @Model.MessageIsEmpty
}
else
{
    <div @Html.Sxa().Component("static-map", Model.Attributes) data-properties='@Model.JsonDataProperties' style="@Model.Height;@Model.Width">
        <div class="component-content" style="height: 100%; width: 100%">                
            @Model.MessageEditHere
            <div id="@Guid.NewGuid().ToString()" class="static-map" style="height: 100%; width: 100%">
            </div>        
        </div>
    </div>
}
