@using System
@using Sitecore.XA.Foundation.MarkupDecorator.Extensions
@using Sitecore.XA.Foundation.SitecoreExtensions.Extensions

@model Westco.XA.Feature.Maps.Models.StaticMapRenderingModel

@if (Model.DataSourceItem == null)
{
    @Model.MessageIsEmpty
}
else
{
    <div @Html.Sxa().Component("static-map", Model.Attributes) data-properties='@Model.JsonDataProperties' style="@Model.Height;@Model.Width">
        <div class="component-content" style="height: 100%; width: 100%">                
            @Model.MessageEditHere
            <div id="@Guid.NewGuid().ToString()" class="static-map" style="height: 100%; width: 100%">
                <img border="0" src="//maps.googleapis.com/maps/api/staticmap?center=Brooklyn+Bridge,New+York,NY&amp;zoom=13&amp;size=600x300&amp;maptype=roadmap&amp;markers=color:blue%7Clabel:S%7C40.702147,-74.015794&amp;markers=color:green%7Clabel:G%7C40.711614,-74.012318&amp;markers=color:red%7Clabel:C%7C40.718217,-73.998284" alt="Points of Interest in Lower Manhattan">
            </div>        
        </div>
    </div>
}
